
@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Butcherman&family=Kanit:wght@200&family=Nosifer&family=Oswald:wght@200&family=Pixelify+Sans&family=Saira:ital,wght@1,100&display=swap');

*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}


body {
	background-image: url(../assets/images/error404/fondo404.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;	
	background-position: center;
}

.contenedor404{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.heading404{
	color: #e2dee1;
	-webkit-text-stroke-width: 9px;
	-webkit-text-stroke-color: #5c0d74;
	font-size: 26rem;
	text-align: center;
	/*font-family: Arial, Helvetica, sans-serif;*/
	font-family: 'Bebas Neue', sans-serif;
/*	font-family: 'Nosifer', sans-serif;*/
}

.sub-heading404{
	color: #5c0d74;
	-webkit-text-stroke-width: 0.7px;
	-webkit-text-stroke-color: #e2dee1;
	font-weight: bold;
	font-size: 3.5rem;
	text-align: center;
	margin-bottom: 2rem;
	/*font-family: Arial, Helvetica, sans-serif;*/	
	/*font-family: 'Nosifer', sans-serif;*/
	font-family: 'Bebas Neue', sans-serif;
}

.art404{
	width: 80%;
	text-align: center;
	color: #fff;
	font-size: 1.5rem;
	margin-bottom: 2rem;
	font-family: 'Bebas Neue', sans-serif;
}

.btn404{
	cursor: pointer;
	margin: 0 0.5rem;
	font-weight: bold;
	padding: 1rem 2rem;
	border-radius: 5rem;
	text-transform: uppercase;
	transition: all 0.3s linear;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	border: 3px solid #000;
}

.btn404:hover{
	color: #fff;	
	background-color: rgb(3, 91, 125);
	border: 1px solid rgb(3, 91, 125);
}

.active404{
	color: #fff;
	background-color: #000;
}

.active404:hover{
	color: #fff;
	background-color: rgb(3, 91, 125);
	border: 3px solid #fff;
}

@media screen and (max-width:800px){
	

	.heading404{
		font-size: 8rem;
	}	

	.art404{
		font-size: 1rem;
	}

	.buttons404{
		display: flex;
		gap: 1.2rem;
		flex-direction: column;
	}
}