/* Estilos del main */

/* SLIDER */
.slider {
    background-color: #fff;
    width: 100%;
    height: 45rem;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}

.slider ul {
    display: flex;
    padding: 0;
    width: 400%;
    animation: slide 16s infinite alternate ease-in-out;
}

.slider li {
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: left;
} 

.slider img {
    width: 100%;
    max-width: 100%;
    height: 45rem;
    margin: 0 auto;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }

    20% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(0);
    }

    45% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-25%);
    }

    70% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-50%);
    }

    95% {
        transform: translateX(-75%);
    }
}

/* GRID 1 */
.container {
    /* background-color: #858484; */
    /* prueba */
    background-color: #fff;
    display: grid;
    justify-content: center;
    grid-template-columns: 5% 10% 20% 20% 10% 5% !important;
    grid-template-rows: 10rem auto;
    column-gap: 2%;
    padding-bottom: 1rem;
}

.container .item0 {
    grid-column: 1 / 7;
    grid-row: 1;
    background-color: rgb(228, 70, 70);
    padding-top: 1rem;
}

.container .item1 {
    grid-column: 3 / 3;
    grid-row: 2;
    background-color: rgb(0, 225, 255);

}

.container .item2 {
    grid-column: 4 / 4;
    grid-row: 2;
    background-color: rgb(54, 190, 82);
}

.container .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    text-align: center;
    margin: 1rem 0;
}

.container .item img {
    max-width: 100%;
    height: 25rem;
}

.container .item-hover {
    transition: transform 0.3s ease, box-shadow 0.3s;
}

.container .item-hover:hover {
    background-color: transparent;
    transform: scale(1.05);
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
}

.container .item h2 {
    margin: 0;
    font-size: 2.5rem;
}

.container .item h3 {
    margin: 0.5rem 0;
    font-size: 1.5rem;
}

.container .item p {
    margin: 0.5rem 0;
    font-size: 1rem;
}


/* GRID 2 */
.container2 {
    /* background-color: #858484; */
    /* prueba */
    background-color: #000;
    display: grid;
    justify-content: flex-end;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 20rem auto;
    column-gap: 2rem;
    padding-bottom: 4rem;
}

.container2 .item0 {
    grid-column: 1 / 7;
    grid-row: 1;
    background-color: rgb(237, 102, 102);
    padding-top: 1rem;
}

.container2 .item1,
.item2,
.item3,
.item4 {
    border: 0.1rem solid #fff;
}

.container2 .item-hover:hover {
    background-color: #91ccf6;
    transform: scale(1.05);
}

.container2 .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    background-color: hsl(0, 0%, 0%);
    text-align: center;
    margin: 0 0.3rem 0.5rem 2rem;
}

.container2 .item img {
    max-width: 100%;
    height: 20rem;
    transition: background-color 0.3s, border-color 0.3s;
}

.container2 .item h2 {
    color: #fff;
    margin: 1rem 0;
    font-size: 2.5rem;
}

.container2 .item #p-categoria {
    font-size: 1.5rem;
}

.container2 .item p {
    color: #fff;
    margin: 0.5rem 0 2rem;
}

/* GRID 3 */
.container3,
.container4 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    background-color: #000;
    color: #fff;
}

.container3 .column img,
.container4 .column img {
    max-width: 100%;
    height: 25rem;
}

.container3 .column2 {
    grid-column: 2 / 4;
    padding: 4rem 12rem;
    letter-spacing: 2px;
}

.container3 .column2 h3,
.container4 .column2 h3 {
    font-size: 1.5rem;
    color: #fff;
}

.container3 .column2 h2,
.container4 .column2 h2 {
    font-size: 2.5rem;
    color: #fff;
    margin: 0.5rem 0 1rem;
}

.container3 .column2 hr,
.container4 .column2 hr {
    margin: 0.5rem 0 2rem;
    width: 5rem;
}


.container3 .column2 p,
.container4 .column2 p {
    font-size: 1.5rem;
    color: #fff;
    margin: 0.5rem 0;
}

.container3 .column2 .animated-text,
.container4 .column2 .animated-text {
    transition: color 0.5s ease;
}

@keyframes changeColor {
    0% {
        color: red;
    }

    25% {
        color: blue;
    }

    50% {
        color: green;
    }

    75% {
        color: orange;
    }

    100% {
        color: purple;
    }
}

.container3 .column2 .animated-text,
.container4 .column2 .animated-text {
    animation: changeColor 5s linear infinite;
}

.container3 .column2 button,
.container4 .column2 button {
    background-color: #aaa;
    color: #fff;
    margin: 1rem 0;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s, color 0.3s;
}

.container3 .column2 button:hover,
.container4 .column2 button:hover {
    background-color: #d67575;
    color: #fff;
}


/* GRID 4 */
.container4 .column1 {
    grid-column: 3 / 4;
}

.container4 .column2 {
    grid-column: 1 / 3;
    padding: 4rem 12rem;
    letter-spacing: 2px;
}

/*MEDIA QUERY */
@media (max-width: 576px) {
    .slider {
        height: auto;
    }

    .container3 .column2 p,
    .container4 .column2 p {
        font-size: 1rem;
    }
}

.fade-img {
    min-width: 100%;
    position: absolute;
    bottom: 0;
    min-height: 100%;
    background: rgb(255, 184, 0);
    background: linear-gradient(180deg, rgba(255, 184, 0, 0) 0%, rgba(0, 0, 0, 1) 97%);
}

.ctn-categorias{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/* Estilos para pantallas telefonos menores a 767px */
@media only screen and (max-width: 767px) {
    .slider {
        height: 50%;
    }

    .slider ul {
        width: 400%;
    }

    .slider img {
        margin: -0.5rem auto;
    }

    .container {
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: auto;
        align-items: center;
    }

    .container .item img {
        width: 100%;
        height: 50%;
    }

    .container2 {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
        column-gap: 0;
    }

    .container2 .item img {
        width: 100%;
        height: auto;
    }

    .container2 .item .pfo {
        margin: 0;
    }

    .container3,
    .container4 {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
    }

    .container3 .column2,
    .container4 .column2 {
        padding: 5%;
        font-size: 0.8rem;
    }

    .container3 .column2 h3,
    .container4 .column2 h3 {
        font-size: 1rem;
    }

    .container3 .column2 h2,
    .container4 .column2 h2 {
        font-size: 1.5rem;
    }

    .container3 .column2 button,
    .container4 .column2 button {
        font-size: 0.5rem;
    }

    .container3 .column1 img,
    .container4 .column1 img {
        margin-top: 4rem;
        width: 100%;
        height: auto;
    }

    /* Agregar estilo */
}



/* Estilos para tabletas (ancho entre 768px y 1023px) */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    body {
        width: 100%;
    }

    .slider {
        height: auto;
    }

    .slider ul {
        width: 400%;
    }

    .slider img {
        margin: -1rem auto;
    }

    .container {
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: auto;
        align-items: center;
    }

    .container .item img {
        width: 80%;
        height: 80%;
    }

    .container2 {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
    }

    .container2 .item img {
        width: 100%;
        height: 100%;
    }

    .container2 .item .pfo {
        margin: 0;
    }

    .container3,
    .container4 {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
    }

    .container3 .column2,
    .container4 .column2 {
        padding: 10%;
    }

    .container3 .column1 img,
    .container4 .column1 img {
        margin-top: 4rem;
        width: 100%;
        height: auto;
    }
}



/* Estilos para pantallas más grandes (ancho mayor o igual a 1024px) */
@media only screen and (min-width: 1024px) {
    .slider {
        height: auto;
    }

    .slider ul {
        width: 400%;
    }

    .slider img {
        width: 100%;
        max-width: 100%;
        margin-top: -1rem;
    }

    .container {
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: auto;
    }

    .container2 {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
    }

    .container3,
    .container4 {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
    }
}