<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="../../css/components/footer2.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
	<title>Tienda Online | ThunderGames</title>
	<link rel="shortcut icon" href="./assets/icons/shortcut-icon.svg">

</head>

<body>
	

	<footer class="pie-de-pag">
		<div class="contenedor-footer">
			<div class="footer-row">
				<div class="footer-links">
					<h4>SOBRE NOSOTROS</h4>
					<ul>
						<li><a href="./pages/aboutUs.html">Nosotros</a></li>
						<li><a href="./pages/contacto.html">Contacto</a></li>
						<li><a href="./pages/error404.html">Locales</a></li>
					</ul>
				</div>
				<div class="footer-links">
					<h4>AYUDA</h4>
					<ul>
						<li><a href="./pages/error404.html">Preguntas Frecuentes</a></li>
						<li><a href="./pages/error404.html">Compras</a></li>
						<li><a href="./pages/error404.html">Envios</a></li>
						<li><a href="./pages/error404.html">Status de compra</a></li>
						<li><a href="./pages/error404.html">Pagos</a></li>
					</ul>
				</div>
				<div class="footer-links">
					<h4>SIGUENOS</h4>
					<div class="enlace-red-social">
						<a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook"></i></a>
						<a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
						<a href="https://www.twitter.com/" target="_blank"><i class="fa-brands fa-twitter"></i></a>
						<a href="https://www.linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
					</div>
				</div>
			</div>
		</div>
	</footer>


</body>
</html>
